@use "../abstracts/variables";
html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
  //  * {
  //     font-size: 70px;
  //     color: variables.$primary;
  //   }
}
