$background-blanc: rgb(236, 235, 235);
$background-sombre: rgb(18, 18, 20);

$colour-blanc: #fff;
$colour-noir: #000;
// $colour-primary: #e26855;
$colour-primary: #e63e24;

$colour-grey-dark: #777;
$colour-grey-superdark: #333;
$colour-black: #000;

$primary: #f47843;
// $primary: #e63e24;
$secondary: #e4a79d;
$quartenary: #ecbb35;
