// COLORS
$background-blanc: #ecebeb;
$background-sombre: #121214;

$colour-blanc: #fff;
$colour-noir: #000;
$colour-primary: #e63e24;

$colour-grey-dark: #777;
$colour-grey-superdark: #333;

$primary: #f47843;
$secondary: #e4a79d;
$quartenary: #ecbb35;
// END COLORS
